/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #2b2b2b;
	font-family: 'Roboto', sans-serif;
	margin: 10px 0;
	font-weight: 300;
}
h1 {
	line-height: 48px;
	font-size: 36px;
}
h2 {
	line-height: 36px;
	font-size: 24px;
}
h3 {
	line-height: 30px;
	font-size: 21px;
}
h4 {
	line-height: 22px;
	font-size: 18px;
}
h5 {
	font-size: 18px;
	font-size: 16px;
}
h5 {
	font-size: 16px;
	font-size: 14px;
}

p {
	line-height: 1.6;
	margin: 0 0 10px;
}

.main-maintenance-wrapper {
	margin-left: -15px;
	margin-top: 15px;
}

.main-maintenance-wrapper * {
	box-sizing: border-box;
}

.white-box {
	background: #ffffff;
	padding: 15px;
	margin-bottom: 20px;
}

.white-box h3 {
	margin: 0px 0px 12px;
	font-weight: 500;
}

.form-group {
	margin-bottom: 15px;
}

.form-group label {
	margin-top: 10px;
	font-weight: 700;
}
.main-maintenance-wrapper .btn-group-lg>.btn,
.main-maintenance-wrapper .btn-lg {
	padding: 10px 16px;
	font-size: 18px;
	line-height: 1.3333333;
}
.main-maintenance-wrapper .btn-primary {
	background: #6164c1;
	border: 1px solid #6164c1;
	color: #fff;
	text-decoration: none;
	display: inline-block;
}
.btn:hover {
	opacity: 0.8;
}
.btn:active {
	opacity: 1;
	-webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
	box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}
.btn:focus {
		-webkit-box-shadow: none;
	box-shadow: none;
}
.main-maintenance-wrapper .save-main-maintenance {
	margin-bottom: 15px;
}
/* Text colors */
.text-white {
	color: #ffffff;
}
.text-danger {
	color: #f96262;
}
.text-muted {
	color: #8d9ea7;
}
.text-warning {
	color: #ffca4a;
}
.text-success {
	color: #99d683;
}
.text-info {
	color: #13dafe;
}
.text-inverse {
	color: #4c5667;
}
.text-blue {
	color: #13dafe;
}
.text-purple {
	color: #6164c1;
}
.text-dark {
	color: #686868 !important;
}

/* Background colors */
.bg-primary {
	background-color: #6164c1 !important;
}
.bg-success {
	background-color: #99d683 !important;
}
.bg-info {
	background-color: #13dafe !important;
}
.bg-warning {
	background-color: #ffca4a !important;
}
.bg-danger {
	background-color: #f96262 !important;
}
.bg-inverse {
	background-color: #4c5667 !important;
}
.bg-purple {
	background-color: #6164c1 !important;
}
.bg-white {
	background-color: #ffffff !important;
}

.main-maintenance-wrapper .form-control {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	background-color: #ffffff;
	border: 1px solid #light;
	border-radius: 0px;
	box-shadow: none;
	color: #565656;
	height: 38px;
	max-width: 100%;
	padding: 7px 12px;
	transition: all 300ms linear 0s;
}
.main-maintenance-wrapper .form-control:focus,
#main-page-headline.active,
#main-page-description.active {
	box-shadow: none;
	border-color: #2b2b2b;
}

.main-maintenance-wrapper textarea.form-control {
	min-height: 100px;
}

.main-maintenance-wrapper .form-control[contenteditable="true"] {
	height: auto;
	background-color: #ccc;
}

.main-maintenance-wrapper div.form-control {
	border-color: transparent;
}

.main-maintenance-wrapper select.form-control {
	width: auto;
}

.main-maintenance-checkbox input {
	display: none;
}

.text-styling-row {
	margin-bottom: 20px;
	display: none;
}

.main-maintenance-checkbox {
	height: 30px;
	width: 50px;
	margin-top: 10px;
	display: inline-block;
	border: 1px solid rgb(223, 223, 223);
	box-shadow: rgb(223, 223, 223) 0px 0px 0px 0px inset;
	transition: border 0.4s, box-shadow 0.4s;
	background-color: #fff;
	border-radius: 20px;
	cursor: pointer;
	position: relative;
	transition: border 0.4s, background-color 0.4s;
}

.main-maintenance-checkbox span {
	position: absolute;
	width: 28px;
	height: 28px;
	background: #fff;
	border-radius: 100%;
	box-shadow: 0 1px 3px rgba(0,0,0,0.4);
	top: 0;
	left: 0;
	right: auto;
}

.main-maintenance-checkbox.active span {
	right: 0;
	left: auto;
}

.main-maintenance-checkbox.active {
	border-color: #99D683;
	background-color: #99D683;
}

.main-number-field {
	position: relative;
}

.main-number-field span {
	width: 34px;
	height: 34px;
	background: #6164c1;
	color: #fff;
	position: absolute;
	top: 2px;
	cursor: pointer;
	text-align: center;
	line-height: 34px;
	font-size: 18px;

	-moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;
}

.main-number-minus {
	left: 3px;
}

.main-number-plus {
	right: 1px;
}

.main-maintenance-wrapper .main-number-field input {
	padding: 7px 45px;
}

.wp-color-result {
	height: 37px;
	padding-left: 45px;
}

.wp-color-result:after {
	font-size: 14px;
	line-height: 1.42857143;
	padding: 8px 12px;
	background-color: #6164c1;
	color: #fff !important;
}

.wp-color-result:before{
	content: '';
	position: absolute;
	border: 9px solid #fff;
	left: 0;
	height: 18px;
	width: 27px;
	z-index: 222;
}

#main-page-headline {
	font-size: 55px;
	line-height: 66px;
	font-weight: bold;
	text-transform: uppercase;
	color: #fff;
}

#main-page-description {
	font-size: 18px;
	line-height: 32px;
	color: #fff;
}

.input-wrapper.file-upload {
	position: relative;
}

.input-wrapper.file-upload a.choose-image,
.input-wrapper.file-upload a.delete-image {
	font-size: 14px;
	line-height: 1.42857143;
	padding: 7px 12px;
	background-color: #6164c1;
	color: #fff !important;
	text-decoration: none;
	position: absolute;
	top: 3px;
	right: 16px;
}

.input-wrapper.file-upload a.delete-image {
	background-color: #d53333;
	right: 129px;
	display: none;
}

.input-wrapper.file-upload.remove-active a.delete-image {
	display: block;
}

.input-wrapper.file-upload input {
	padding-right: 130px;
}

.input-wrapper.file-upload.remove-active input {
	padding-right: 200px;
}

.input-wrapper.file-upload input[disabled] {
	cursor: no-drop;
}

#main-color {
	display: inline-block;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	height: 38px;
	max-width: none;
	width: 80px;
	padding: 7px 12px;
}

.form-group.bypass-url b {
	float: left;
	margin-top: 12px;
}

.form-group.bypass-url input {
	width: 50%;
}

.main-fake-select {
	display: block;
	width: 50%;
	height: 38px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 24px;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 0;
	cursor: pointer;
	text-transform: capitalize;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.main-fake-select.opened ul {
	margin: 0;
	position: absolute;
	z-index: 5;
	top: 40px;
	left: 15px;
	background: #fff;
	border: 1px solid #ccc;
	width: 95%;
	display: block;
}

.main-fake-select ul {
	display: none;
}

.main-fake-select.opened ul li {
	margin: 0;
	padding: 5px 12px;
}

.main-fake-select.opened ul li:hover,
.main-fake-select.opened ul li.selected {
	background-color: #f1f1f1;
}

.main-fake-select:before {
	content: attr(data-selected);
}

.main-maintenance-wrapper h2 {
	margin-bottom: 0;
}

.main-maintenance-locked:before {
	content: '\e800';
	font-family: "options2";
	font-size: 20px;
    margin-right: 15px;
    color: #d6a800;
}

.main-grayed label,
.main-grayed .input-wrapper,
.main-grayed p {
	color: #ccc;
	cursor: no-drop;
}

.main-grayed input,
.main-grayed textarea,
.main-grayed select,
.main-grayed .main-maintenance-checkbox {
	opacity: 0.6;
	cursor: no-drop;
}

.main-grayed:hover:before {
	content: 'This feature is only available for the Maintenance Pro version!';
	position: absolute;
	z-index: 11;
	background: rgba(0,0,0,0.6);
	color: #fff;
	padding: 5px 10px;
	border-radius: 6px;
	border: 1px solid #ccc;
	margin-top: 5px;
	margin-left: 35px;
	cursor: pointer;
}

.main-fake-select li.cant-select {
	color: #ccc;
	cursor: no-drop;
}

.form-group.second-bg {
	display: none;
}

#main-reset-defaults {
	background: #6164c1;
	border: 1px solid #6164c1;
	color: #fff;
	text-decoration: none;
	margin-left: 20px;
	padding: 5px;
}

.white-box.reset-default-hidden #main-reset-defaults {
	display: none
}

@font-face {
  font-family: 'options2';
  src: url('../font/options.eot?61459797');
  src: url('../font/options.eot?61459797#iefix') format('embedded-opentype'),
       url('../font/options.woff2?61459797') format('woff2'),
       url('../font/options.woff?61459797') format('woff'),
       url('../font/options.ttf?61459797') format('truetype'),
       url('../font/options.svg?61459797#options') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'options';
    src: url('../font/options.svg?61459797#options') format('svg');
  }
}
*/
 
 [class^="pmicon-"]:before, [class*=" pmicon-"]:before {
  font-family: "options2";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.mmicon-lock:before { content: '\e800'; } /* '' */